/** Basic config file **/

configuration {
  modi: "window,drun,ssh,combi";
  show-icons:         true;
  icon-theme:         "Papirus";
}
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
@theme "/home/luiz/.local/share/rofi/themes/spotlight-dark.rasi"
